<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Home</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>

</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h1>Welcome to YoSha Studio</h1>
    <div class="container-fluid">
        <div id="map">
            <iframe src="https://snazzymaps.com/embed/473271" width="75%" height="500px" style="border:none;"></iframe>
        </div>
        <div class="cardContainer">
            <% for(let i=0; i < projects.length; i++){%>
                <div class="card" style="width: 18rem;">
                    <a href="/projects/<%=projects[i].id%>">
                        <img id="projimg" class="card-img-top" src="<%=projects[i].image1%>" alt="">
                        <div class="card-body">
                            <h6 class="card-title"><%=projects[i].name %></h6>
                            <p class="card-text"><%=projects[i].location%> - <%=projects[i].date%></p>
                        </div>
                    </a>
                    <div class="cardBtn list-group-item">
                        <form action="/projects/<%=projects[i]._id%>/edit">
                            <input class="btn btn-outline-warning" type="submit" value="EDIT">
                        </form>
                        <form action="/projects/<%=projects[i]._id%>?_method=DELETE" method="POST">
                            <input class="btn btn-outline-warning" type="submit" value="DELETE">
                        </form>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
</body>
</html>